@page
@model SeguiAcademico.App.Presentacion.Pages.Tutores.IndexModel
@{
}
<h1>Lista de los estudiantes actuales</h1> <br>

<a class="btn btn-primary" asp-page="./Crear">+Nuevo tutor</a> <br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Número de telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Materia</th>
            <th scope="col">Horas laborales</th>
            <th scope="col">Correo institucional</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>

    @foreach (var i in Model.tutor)
    {
        <tr>
            <td>@i.Nombre</td>
            <td>@i.Apellidos</td>
            <td>@i.NumeroTelefono</td>
            <td>@i.Genero</td>
            <td>@i.MateriaTutoria</td>
            <td>@i.HorasLaborales</td>
            <td>@i.CorreoInstitucional</td>
            <td><a class="btn btn-secondary" asp-page="./Actualizar" asp-route-id="@i.Id">Editar</a></td>
            <td><a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@i.Id">Borrar</a></td>
        </tr>  
    }
</table>